<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>redirect find</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }

            .scan_form {
                margin:10px auto;
                max-width: 400px;
                padding: 20px 12px 10px 20px;
                font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            }
            .scan_form li {
                padding: 0;
                display: block;
                list-style: none;
                margin: 10px 0 0 0;
            }
            .scan_form label{
                margin:0 0 3px 0;
                padding:0px;
                display:block;
                font-weight: bold;
            }

        </style>
    </head>
    <body>

    <h3>Redirect Finder</h3>
    <div>301, 302...whatever it takes.</div>


    {% block content %} {% endblock %}

    <a href="#">Link 1</a>

    {% include 'footer.html.twig' %}
